    <section class="hero is-light is-medium" id="about">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">
                    About
                </h1>
                <h2 class="subtitle is-3">
                    About Eugene
                </h2>
            </div>
        </div>
    </section>
    <section class="hero is-dark is-large">
        <div class="hero-body">
            <div class="container">
                <h3 class="title is-4 has-text-white has-text-right">
                    <strong>Welcome to my page!</strong>
                </h3>
                {% for line in contents.about %}
                <h4 class="is-6 has-text-white has-text-right">
                    {% if language == 'english' %}
                        {{ line.english }}
                    {% elseif language == 'japanese' %}
                        {{ line.japanese }}
                    {% endif %}
                </h4>
                {% endfor %}
                <h4 class="is-6 has-text-white has-text-right">
                  <a href="https://github.com/eugenesinamban" target="_blank">Follow me on github!</a> 
                </h4>
            </div>
        </div>
    </section>