{% extends "main.twig" %}

{% block main %}
<section class="hero is-dark is-fullheight" id="home">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                Fearless Dreamer
            </h1>
            <h2 class="subtitle is-3">
                Collection of Eugene's websites
            </h2>
        </div>
    </div>
</section>
<div class="tabs is-centered is-fullwidth" id="content">
    <ul>
        <li {% if language != 'japanese' %} class="is-active" {% endif %} ><a href="index.php#content">EN</a></li>
        <li {% if language == 'japanese' %} class="is-active" {% endif %} ><a href="index.php?language=japanese#content">JP</a></li{% if language != 'japanese' %} class="is-active" {% endif %}>
    </ul>
</div>
{% for page in pages %}
    {{ include(page ~ '.twig') }}
    <div class="section">
        <div class="container has-text-centered">
            <a href="#home" class="button is-primary">Back to top</a>
        </div>
    </div>
{% endfor %}
{% endblock main %}