h2 {
    font-size: 20px;
    width: 250px;
    background: white;
    margin-left: 600px;
    font-family: serif;
    text-align: center;
    border: 3px double red;
}

body {
    background: black;

}

h1 {
    text-align: center;
    margin-bottom: 100px;
    background: url(https://timewellness.files.wordpress.com/2011/11/hl_rice_1101.jpg?w=307&h=200&crop=1) repeat-x;

}

div {
    font-size: 20px;
    background: url(https://timewellness.files.wordpress.com/2011/11/hl_rice_1101.jpg?w=307&h=200&crop=1) repeat-x;
    border: 3px double red;
}

.rekishi {
    font-size: 20px;
    background: url(https://timewellness.files.wordpress.com/2011/11/hl_rice_1101.jpg?w=307&h=200&crop=1) repeat-x;
}

.toiawase {
    font-size: 20px;
    width: 250px;
    margin-left: 600px;
    font-family: serif;
    text-align: center;
    border: 3px double red;

}

li {
    font-size: 20px;
}

.jikoshoukai {
    font-size: 30px;
    border: 3px double red;
}

p {
    background: url(https://timewellness.files.wordpress.com/2011/11/hl_rice_1101.jpg?w=307&h=200&crop=1) repeat-x;

}

h4 {
    font-size: 20px;
    width: 250px;
    background: url(https://timewellness.files.wordpress.com/2011/11/hl_rice_1101.jpg?w=307&h=200&crop=1) repeat-x;
    margin-left: 600px;
    font-family: serif;
    text-align: center;
    border: 3px double red;
}
