.welcome {
    font-size: 20px;
    width: 250px;
    background: white;
    font-family: serif;
    text-align: center;
    border: 3px double red;
    margin: auto;
}

h4 {
    font-size: 20px;
    width: 250px;
    background: url(http://image.news.livedoor.com/newsimage/stf/1/8/182d1_1459_7b43cab67676e31c9b7c9d019174a624.jpg) repeat-x;
    font-family: serif;
    text-align: center;
    border: 3px double red;
    margin: auto;
}

body {
    background: black;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    background: url(http://image.news.livedoor.com/newsimage/stf/1/8/182d1_1459_7b43cab67676e31c9b7c9d019174a624.jpg) repeat-x;
    border: 3px double red;

}

.main {
    height: 350px;
    font-size: 20px;
    background: url(http://image.news.livedoor.com/newsimage/stf/1/8/182d1_1459_7b43cab67676e31c9b7c9d019174a624.jpg) repeat-x;
    border: 3px double red;
    text-align: center;
}

ul {
    margin: auto;
    font-size: 20px;
}

.jikoshoukai {
    font-size: 30px;
    border: 3px double red;
}
