{% extends "main.twig" %}
{% block main %}
<section class="section has-text-white">
    <div class="main-content">
        <div class="container">
            <article>
                <h3 class="is-4">Tokyo Reader's Club</h3>
                <h4 class="is-5">Tokyo's solution to english literature problems</h4>
            </article>
            <article>
                <h4 class="is-5">
                    Creating solutions for the need to read English literature
                </h4>
                <h4 class="is-5">
                    We happily welcome non-native speakers
                </h4>
            </article>
            <article>
                <h3 class="is-5">Club Activities</h3>
                <ul>
                    <li>Open Forum</li>
                    <li>Book Fair</li>
                    <li>Discussions</li>
                    <li>Library Tours</li>
                    <li>Reading Sessions</li>
                </ul>
            </article>
            <article>
                <h3 class="is-4">
                    <a href="join.php">Join us now</a>
                </h3>
            </article>
        </div>
    </div>
</section>
{% endblock main %}