{% extends "main.twig" %}
{% block main %}
<section class="section">
    <div class="container">
        <article>
            <div class="has-text-white">
                {{ message }}
            </div>
            <div class="form">
                <form action="" method="POST">
                    <input class="input" type="email" name="email" placeholder="Enter Email Address">
                    <input class="input" type="text" name="name" placeholder="Enter Your Name">
                    <input type="text" class="input" name="comment" placeholder="Enter Comment">
                    <button class="input is-5" type="submit">Submit</button>
                </form>
            </div>
        </article>
    </div>
</section>
{% endblock main %}