{% extends "main.twig" %}

{% block main %}
<section class="section">
    <div class="welcome has-text-white">
        <div class="container">
            <div class="is-1">
                TOKYO READER'S CLUB
            </div>
            <div class="is-5">
                Tokyo's reader's club for english readers. <br>
                Welcome!
            </div>
        </div>
    </div>
</section>
{% endblock main %}